.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  margin-right: 24px;
  font-size: 21px;
  color: #666d71;
  font-weight: 600;
}

.input {
  font-size: 18px;
  padding: 8px 32px;
  border: solid 1px #d1d7db;
  color: #666d71;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: .1s;

  &:hover {
    border: solid 1px #949da2;
    color: #333a3e;
  }
}
